.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu,
.Quiz,
.EndScreen {
  width:600px;
  height: 500px;
  padding:10px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options button:hover {
  background-color: rgb(245, 245, 102);
}

.Menu button,
.Quiz button,
.EndScreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: blue;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Quiz .next,
.Quiz .finish,
.Quiz .prev {
  width: 100px;
  padding: 5px;
}

.nextprev {
  display: flex;
  justify-content:space-between;
}

.Menu,
.Quiz {
  color:white;
}

.navbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.navbtn button {
  width: 40px;
  height: 39px;
  padding: 10px;
  margin:10px;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.option-btn:focus {
  outline: blue auto 5px;
}